---
import { Icon } from "astro-icon/components";

interface Props {
  repo: string;
}

const { repo } = Astro.props;
const href = `https://github.com/${repo}`;
---

<a href={href}>
  <button>
    <Icon name="github" width={32} height={32} />
    <span>Repository</span>
  </button>
</a>

<style>
  a {
    text-decoration-line: none;
    width: fit-content;
    height: fit-content;
  }

  button {
    width: auto;
    background-color: black;
    color: white;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: #30363d;
    border-radius: 6px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

    @media (min-width: 320px) {
      padding: 1rem 2rem;
    }
    @media (min-width: 640px) {
      padding: 1.25rem 1.75rem;
    }
  }

  span {
    @media (min-width: 340px) {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
    @media (min-width: 640px) {
      font-size: 3rem;
      line-height: 1;
    }
    @media (min-width: 1920px) {
      font-size: 4.5rem;
      line-height: 1;
    }
  }

  svg {
    @media (min-width: 320px) {
      width: 32px;
      height: 32px;
    }
    @media (min-width: 640px) {
      width: 42px;
      height: 42px;
    }
    @media (min-width: 1920px) {
      width: 56px;
      height: 56px;
    }
  }
</style>
