---
import { Image } from "astro:assets";
import type { HeroMedia } from "../../types";

interface Props {
  herosrc: HeroMedia;
  live?: string;
}
const { herosrc, live } = Astro.props;
---

<div class="hero">
  <a href={live}>
    {herosrc.type === 'image' ? (
      <Image src={herosrc.src} alt="Project Screenshot" width="1980" height="1080" />
    ) : (
      <video 
        src={herosrc.src} 
        poster={herosrc.poster ? herosrc.poster.src : undefined}
        autoplay 
        muted 
        loop 
        playsinline
      />
    )}
  </a>
</div>

<style>
  .hero {
    display: grid;
    place-items: center;
    width: 100%;
  }
  a {
    width: 100%;
    height: fit-content;
    display: grid;
    place-items: center;
  }
  img, video {
    width: 100%;
    height: auto;
    border-radius: 1rem;
  }
</style>