---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<h1>{title}</h1>

<style>
h1 {
  margin: 0;
  color: #fff;
  text-align: center;

  line-height: 1;

  @media (min-width: 320px) {
    font-size: 2.25em;
    line-height: 2.5rem;
  }
  @media (min-width: 640px) {
    font-size: 3rem;
  }
  @media (min-width: 768px) {
    font-size: 4.5rem;
  }
  @media (min-width: 1024px) {
    font-size: 6rem;
  }
  @media (min-width: 1280px) {
    font-size: 7.5rem;
  }
}
</style>
